
@use '_vars' as *;

.active {
    position: relative;
    &:before, &:after{
        content: "";
        position: absolute;
        width: 0%;
        display: block;
        height: 1px;
        transition: all 0.3s ease;
        margin-top: 2px;
        transition: all 300ms ease-in;
    }
    &:after{
        width: 100%;
        height: 1px;
        bottom: -10px;
        left:0;
        background-color: $main-color;
    }
    &:before{
        width: 100%;
        height: 1px;
        top: -10px;
        left:0;
        background-color: $main-color;
    }
}

.card-shadow{
    box-shadow: 1px 0px 6px $border-color, 
    -1px 0px 1px $border-color;
}

// ===== page buttons style =====
.button-style-outline{
    padding: 8px 25px;
    background: transparent;
    border:2px solid white !important;
    color: white !important;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s all ease;
    &:hover{
        border: 2px solid $main-color !important;
        background: $main-color;
        color:white;
    }
}
.btn-style{
    background-color: $main-color;
    padding: 8px 25px;
    color:white;
    transition: 0.4s all ease;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px $main-color, 0px 0px 0px 10px white, 0px 0px 0px 10.5px $main-color;
        background: white;
        color: $main-color
    }
}
//========= section title style =====
.title {
            text-align: center;
            font-size: 30px;
            position: relative;
            font-weight: 300;
            padding-bottom: 10px;
            &:before{
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom:-13px;
                width: 250px;
                height: 2px;
                background-color: white;
                padding-block: 2px;
                border-block: 1px solid $main-color;
            }
}
.title-shape {
    position: relative;
    background-color: red;
    .shape1{
        position: absolute;
        background-color: $main-color;
        width: 10px;
        height: 10px;
        transform: rotate(-45deg) translateX(-50%);
        top:0;
        left: 50%;
        text-align: center;
        z-index: 3;
    }
    .shape2{
        position: absolute;
        background-color: white;
        width: 50px;
        height: 25px;
        transform:translateX(-50%);
        left: 50%;
        text-align: center;
        z-index: 2;
    }
}





