// $main-color:#18987F;
$main-color:#00A8FF;
$font-color:#666666;
$border-color:#E5E5E5;
$footer-color:#002e44;

@font-face {
    font-family: 'main-font';
    src:url('../../fonts/JosefinSans-VariableFont_wght.ttf')
}

