// ======== import other files =======
@use 'scss-items/vars' as *;
@use 'scss-items/mixins' as *;
@use 'scss-items/classes' as *;

// ======= IMPORT GLOBAL STYLES ======
@include globalStyles;


//====== nav style =======
nav{
    position: fixed;
    width: 100%;
    z-index: 99;
    .navbar-content{
        box-shadow: 1px 0px 2px $main-color;
        background-color: white;
    }
    li{
        &:hover{
            cursor: pointer;
            color: $main-color;
        }
    }
}

header{
    background-image: url('../images/home-bg.jpg');
    @include backgroundOptions;
    height: 100vh;

    .overlay{
        background-color: rgba(23, 23, 23, 0.3);
        width: 100%;
        height: 100%;

        .container{
            text-align: center;
            .header-content {
                margin-top: 10%;
                .header-text{
                    h2{
                        font-size: 48px;
                    }
                    p{
                        font-size: 24px;
                        line-height: 1.3;
                    }
                }
                .header-buttons{
                    margin-top:50px;
                    .button-style-outline{
                        border:2px solid white !important;
                        color: white !important;
                        &:hover{
                            border: 2px solid $main-color !important;
                        }
                    }
                }
}
        }
    }
}

.properties{
    .properties-title{
        margin-block: 100px
    }
    .properties-content{
        @include flexible(center);
        flex-wrap: wrap;
        gap:2rem;
        .property-item{
            width: calc((100% / 3) - 2rem);
            box-shadow: 3px 5px 5px $border-color;
            .property-img{
                position: relative;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    transition: 0.6s ease all;
                }
                &:before{
                    content: 'FOR SALE';
                    position: absolute;
                    top:12%;
                    left: -15%;
                    width:auto;
                    height: auto;
                    padding: 2px 70px;
                    background-color: $main-color;
                    color:white;
                    text-align: center;
                    font-size: 12px;
                    transform: rotate(-45deg);
                    z-index: 3;
                    transition: 0.4s all ease;
                }
                .property-img-details{
                    position: absolute;
                    width: 100%;
                    bottom:0px;
                    left: -100%;
                    background-color: #18987eb8;
                }
                &:hover{
                    img{
                        transform: scale(1.1,1.1) rotate(-4deg);
                    }
                    &:before{
                        padding: 10px 70px;
                        font-size: 15px;
                    }
                    .property-img-details{
                        left: 0%;
                    }
                }
            }
            .property-info{
                .property-desc{
                padding:15px;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px !important;
                        i{
                            margin-right:5px
                        }
                    }
                }
            }
            .property-footer{
                border-top:2px solid $border-color;
                p{
                    font-size: 20px;
                }
                i{
                    padding: 15px;
                    border-left: 2px solid $border-color;
                    font-size: 20px;
                }
            }
        }

    }

    .properties-choice{
        .p-c-title{
             margin-block: 100px;
            h3 {
                font-size: 24px;
            }
        }

        .p-c-content{
            column-gap:40px;
            .p-c-img{
                width: 50%;
                max-height: 580px;
                img {
                    width: 100%;
                    height: 580px;
                }
            }
            .p-c-items{
                width: 50%;
                max-height: 580px;
                .item{
                    column-gap:20px;
                    padding: 20px;
                    margin-bottom: 25px;
                    box-shadow: 1px 0px 6px $border-color, 
                                -1px 0px 1px $border-color;
                    &:last-child{
                        margin-bottom: 0px !important;
                    }
                    h4{
                        font-size: 22px;
                        font-weight: 400;
                    }
                    p{
                        line-height: 1.4;
                    }
                }
                
            }
        }
    }
    }