// ======== import other files =======
@use 'scss-items/vars' as *;
@use 'scss-items/mixins' as *;
@use 'scss-items/classes' as *;
@use 'scss-items/framework' as *;
// ======= IMPORT GLOBAL STYLES ======
@include globalStyles;


//====== nav style =======
nav{
    *{
        transition: 0.2s all ease;
    }
    position: fixed;
    width: 100%;
    z-index: 99;
    .navbar-content{
        box-shadow: 1px 0px 2px $main-color;
        background-color: white;
    }
    li{
        position: relative;
        &:before, &:after{
            content: "";
            position: absolute;
            width: 0%;
            display: block;
            height: 1px;
            transition: all 0.3s ease;
            margin-top: 2px;
            transition: all 300ms ease-in;
        }
        &:after{
            bottom: 25%;
            left: 0;
        }
        &:before{
            top: 25%;
            right: 0;
        }
        &:hover{
            cursor: pointer;
            color: $main-color;
            &:after{
                width: 100%;
                height: 1px;
                bottom: -10px;
                background-color: $main-color;
            }
            &:before{
                width: 100%;
                height: 1px;
                top: -10px;
                background-color: $main-color;
            }
        }
    }

    #check,.checkbtn{
        display: none;
    }


    @media (max-width:992px) {
        .checkbtn{
                    display: inline-block;
                    position: absolute;
                    right:25px;
                    top:10px;
                    cursor: pointer;
                    z-index: 3;
                    i{
                        color: $main-color;
                    }
        }
        .navbar-content{
            @include flexible(space-between);
            padding-block: 15px;
            position: relative;
            .nav-list{
                position: absolute;
                top: -1120%;
                left: 50%;
                transform: translateX(-50%);
                width:100%;
                text-align: center;
                background-color: white;
                ul{
                    li{
                        margin-block:40px;
                        display: block;
                    }
                }
            }

            
        }

        .nav-button,#close-nav,.nav-contact{
            display: none;
        }
        #check:checked ~ .navbar-content{
            .nav-list{
            top: 100%;
            }
            
        }
    }
}

//====== header syle ========
.header{
    background-image: url('../images/home-bg.jpg');
    @include backgroundOptions;
    height: 100vh;
    .overlay{
        background-color: rgba(23, 23, 23, 0.3);
        width: 100%;
        height: 100%;
        .container{
            text-align: center;
            .header-content {
                margin-top: 10%;
                .header-text{
                    h2{
                        font-size: 48px;
                        color: white;
                        font-family: 'main-font';
                    }
                    p{
                        font-size: 24px;
                        line-height: 1.3;
                    }
                }
                .header-buttons{
                    margin-top:50px;
                }
            }
        }
    }
}
//====== properties style ========
.properties{
    .properties-title{
        margin-block: 100px
    }
    .properties-content{
        @include flexible(center);
        flex-wrap: wrap;
        gap:2rem;
        .property-item{
            width: calc((100% / 3) - 2rem);
            .property-img{
                position: relative;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    transition: 0.6s ease all;
                }
                &:before{
                    content: 'FOR SALE';
                    position: absolute;
                    top:12%;
                    left: -15%;
                    width:auto;
                    height: auto;
                    padding: 2px 70px;
                    background-color: $main-color;
                    color:white;
                    text-align: center;
                    font-size: 12px;
                    transform: rotate(-45deg);
                    z-index: 3;
                    transition: 0.4s all ease;
                }
                .property-img-details{
                    position: absolute;
                    width: 100%;
                    bottom:0px;
                    left: -100%;
                    background-color: #00A8FFb8;
                }
                &:hover{
                    img{
                        transform: scale(1.1,1.1) rotate(-4deg);
                    }
                    &:before{
                        padding: 10px 70px;
                        font-size: 15px;
                    }
                    .property-img-details{
                        left: 0%;
                    }
                }
            }
            .property-info{
                .property-desc{
                padding:15px;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px !important;
                        i{
                            margin-right:5px
                        }
                    }
                }
            }
            .property-footer{
                border-top:2px solid $border-color;
                p{
                    font-size: 20px;
                }
                i{
                    padding: 15px;
                    border-left: 2px solid $border-color;
                    font-size: 20px;
                }
            }
        }

    }

    .properties-choice{
        .p-c-title{
             margin-block: 100px;
            h3 {
                font-size: 24px;
            }
        }
        .p-c-content{
            column-gap:40px;
            .p-c-img{
                width: 50%;
                max-height: 580px;
                img {
                    width: 100%;
                    height: 580px;
                }
            }
            .p-c-items{
                width: 50%;
                max-height: 580px;
                .item{
                    column-gap:20px;
                    padding: 20px;
                    margin-bottom: 25px;
                    position: relative;
                    overflow: hidden;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom:-100%;
                        height: 100%;
                        background-color: $main-color;
                        z-index: -1;
                        border-radius: 5px;
                        transition: 0.6s ease all;
                    }
                    &:hover{
                        &::before{
                            bottom: 0%;
                        }
                        h4,i,p{
                            color: white !important;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0px !important;
                    }
                    h4{
                        font-size: 22px;
                        font-weight: 400;
                    }
                    p{
                        line-height: 1.4;
                    }
                }
                
            }
        }
    }
    }
//======== agents style ========
.agents{
    .agents-title {
        margin-bottom: 100px;
    }
    .agents-content{
        .agent-item{
            &:hover{
                box-shadow: 1px 4px 10px $border-color, 
                -1px -4px 5px $border-color;
                transform: translateY(-50px);
            }
            img{
                max-height: 220px;
            }
            h5{
                font-size: 20px;
                font-weight: 400;
            }
            i{
                &:hover{
                    color:$main-color;
                    cursor: pointer;
                }
            }
        }

    }
    .agents-counter{
        background-image: url('../images/counter.jpg');
        @include backgroundOptions;
        margin-block: 100px;
        
        .overlay{
            background-color: rgba(36, 36, 36, 0.618);
            padding-block: 100px;
            .counter-item{
                .icon{
                    background-color: white;
                    height: 60px;
                    width: 60px;
                    border-radius: 3px;
                    position: relative;
                    i{
                        z-index: 2;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left:0;
                        width: 100%;
                        background-color: $main-color;
                        border-radius: 3px;
                        z-index: 1;
                        transition: 0.7s all ease;
                    }
                }
                p{
                    font-size: 30px;
                    font-weight: bold;
                }
                span{
                    line-height: 1.9;
                }

                &:hover{
                    .icon{
                        border-radius: 20px;
                        i{
                            color:white;
                        }
                        &:after{
                            height: 100%;
                            border-radius: 19px;
                        }
                    }
                }
            }
        }
    }
}

//======== testimonials style ======
.testimonials{
    background-image: url('../images/testimonials.jpg');
    @include backgroundOptions;
    .overlay{
        background-color: rgba(0, 0, 0, 0.668);
        .t-title{
            margin-block: 100px;
            .title {
                &:before{
                    background-color: transparent;
                    border-block: 1px solid transparent;
                }
            }
            .title-shape {
                .shape1{
                    background-color: $main-color;
                }
                .shape2{
                    background-color: transparent;
                }
            }
        }
    
        .t-content{
            column-gap: 25px;
            .t-item{
                background-color: white;
                padding: 30px;
                border-radius: 15px;
                position: relative;
                &:hover{
                    .t-img{
                        left: 85%;
                        transform: translateX(-85%) scale(1.2);
                    }
                    i{
                        margin-inline: 7px;
                    }
                }
                .t-img{
                    position: absolute;
                    top:-35px;
                    left:50%;
                    transform: translateX(-50%);
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
                }
                .t-info{
                    margin-top: 30px;
                    h5{
                        font-size: 22px;
                        font-weight: 300;
                    }
                    p{
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}

/*======== contact style ======*/
.contact{
    .container{
        .contact-title{
            margin-block: 100px;
        }
        .contact-content{
            @include container(60%);
            .input{
                margin-bottom: 20px;
                border: 2px solid $main-color;
                input{
                    @include inputStyle;
                }
            }
            .text-area{
                border: 2px solid $main-color;
                margin-bottom: 40px;
                textarea{
                    @include inputStyle;
                }
            }
    }
}
}

/* ====== footer style ===== */
.footer {
    background-color: $footer-color;
    .container{
        .footer-content{
            display: flex;
            .footer-social{
                width: 25%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                .social{
                    width: 100%;
                    i{
                        color:white;
                        margin-inline: 5px;
                        &:hover{
                            color:$main-color;
                        }
                    }
                }
            }
            .footer-list{
                display: flex;
                width: 50%;
                column-gap:20%;
                ul {
                    li{
                        display: block;
                        color: white;
                        line-height: 40px;
                        &:hover{
                            color:$main-color;
                        }
                    }
                }
            }
            .footer-copyright{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-content: space-between;
                width: 25%;
                .footer-copyright-text{
                    color: white;
                }
            }
        }
    }
}


/* ====== ipad responsive =====*/ 
@media (max-width:992px){
    .property-item{
        width: calc((100% / 2) - 2rem) !important;
    }
    .agents-counter{
        .container{
            justify-content: space-between !important;
                .counter-item{
                    .icon{
                        margin-inline: 0px 10px !important;
                    }
                    .info{
                        p{
                            font-size: 28px !important;
                        }
                        span{
                            line-height: 1.5 !important; 
                        }
                    }
                }
        }
    }
    .t-content{
        flex-wrap: wrap;
        gap:4rem 1rem!important;
        justify-content: center !important;
        .t-item{
            width:calc((100% / 2) - 2rem)
        }
    }
    .contact-content{
        width: 70% !important;
    }
}


/*======= mobile responsive ======*/
@media (max-width:768px){
    .header{
        .header-text{
            h2{
                font-size: 36px !important;
            }
            p{
                font-size: 20px !important;
                line-height: 1.2;
            }
        }
    }
    .property-item{
        width:100% !important;
    }
    .p-c-content{
        margin-bottom: 100px;
        .p-c-img{
            display: none;
        }
        .p-c-items{
            width: 100% !important;
            max-height: auto !important;
            .item{
                padding: 20px;
                margin-bottom: 25px;
                p{
                    line-height: 1.2;
                }
            }
            
        }
    }
    .agents-content{
        flex-wrap: wrap;
        row-gap: 60px;
        img{
            max-height: 300px !important;
        }
    }
    .agents-counter{
        .container{
            flex-wrap: wrap;
                .counter-item{
                    min-width: 100% !important;
                    margin-bottom: 30px;
                    justify-content: center !important;
                    flex-wrap: wrap;
                    .icon{
                        margin: 20px !important;
                    }
                    .info{
                        width: 100% !important;
                        text-align: center;
                        p{
                            font-size: 36px !important;
                        }
                        span{
                            font-size: 22px !important;
                            line-height: 1.5 !important; 
                        }
                    }
                }
        }
    }
    .t-content{
        justify-content: center !important;
        .t-item{
            width:100% !important;
        }
    }
    .contact-content{
        width: 85% !important;
    }
    .footer{
        .footer-content{
            flex-wrap: wrap;
            .footer-social{
                width: 100% !important;
                justify-content: center;
                .social{
                    margin-top: 40px;
                    text-align: center;
                    i{
                        margin-inline: 10px !important;
                        font-size: 22px;
                    }
                }
            }
            .footer-list{
                flex-wrap: wrap;
                width: 100% !important;
                margin-top: 30px;
                ul {
                    width: 100%;
                    text-align: center;
                }
            }
            .footer-copyright{
                width: 100% !important;
                .footer-button,.footer-copyright-text {
                    width: 100% !important;
                    margin-block: 30px;
                    text-align: center !important;
                }
            }
        }
    }
}