@font-face {
  font-family: "main-font";
  src: url("../../fonts/JosefinSans-VariableFont_wght.ttf");
}
/*     C  E  N  T  E  R     */
/*        S  H  A  P  E  S      */
/*    B  U  T  T  O  N  S    */
/* ====== clients background =====*/
/* ======= Animations =====*/
.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 992px) {
  .container {
    width: 90% !important;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95% !important;
  }
}

.section-padding {
  padding-block: 60px;
  /*==== make it responsive in mobile app ======*/
}
@media (max-width: 768px) {
  .section-padding {
    padding-block: 30px;
  }
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.white-color {
  color: white !important;
}

.main-color {
  color: #18987F;
}

.font-color {
  color: #666666;
}

.border-color {
  color: #E5E5E5;
}

.main-bg {
  background-color: #18987F;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.just-flex {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.py-1 {
  padding-block: 5px;
}

.py-2 {
  padding-block: 10px;
}

.py-3 {
  padding-block: 15px;
}

.py-4 {
  padding-block: 20px;
}

.py-5 {
  padding-block: 25px;
}

.my-1 {
  margin-block: 5px;
}

.my-2 {
  margin-block: 10px;
}

.my-3 {
  margin-block: 15px;
}

.my-4 {
  margin-block: 20px;
}

.my-5 {
  margin-block: 25px;
}

.mx-1 {
  margin-inline: 5px;
}

.mx-2 {
  margin-inline: 10px;
}

.mx-3 {
  margin-inline: 15px;
}

.mx-4 {
  margin-inline: 20px;
}

.mx-5 {
  margin-inline: 25px;
}

.button-style-outline {
  padding: 12px 45px;
  background: transparent;
  color: #18987F;
  border: 2px solid #18987F;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s all ease;
}
.button-style-outline:hover {
  border: 2px solid #18987F;
  background: #18987F;
  color: white;
}

.button-style-solid {
  padding: 12px 45px;
  background: #18987F;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #18987F;
  cursor: pointer;
  transition: 0.4s all ease;
}
.button-style-solid:hover {
  border: 2px solid white;
  background: white;
  color: #18987F;
}

.title {
  text-align: center;
  font-size: 30px;
  position: relative;
  font-weight: 300;
  padding-bottom: 10px;
}
.title:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  width: 250px;
  height: 2px;
  background-color: white;
  padding-block: 2px;
  border-block: 1px solid #18987F;
}

.title-shape {
  position: relative;
  background-color: red;
}
.title-shape .shape1 {
  position: absolute;
  background-color: #18987F;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg) translateX(-50%);
  top: 0;
  left: 50%;
  text-align: center;
  z-index: 3;
}
.title-shape .shape2 {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 25px;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.6s ease all;
}

body {
  font-family: "main-font";
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 99;
}
nav .navbar-content {
  box-shadow: 1px 0px 2px #18987F;
  background-color: white;
}
nav li:hover {
  cursor: pointer;
  color: #18987F;
}

header {
  background-image: url("../images/home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
header .overlay {
  background-color: rgba(23, 23, 23, 0.3);
  width: 100%;
  height: 100%;
}
header .overlay .container {
  text-align: center;
}
header .overlay .container .header-content {
  margin-top: 10%;
}
header .overlay .container .header-content .header-text h2 {
  font-size: 48px;
}
header .overlay .container .header-content .header-text p {
  font-size: 24px;
  line-height: 1.3;
}
header .overlay .container .header-content .header-buttons {
  margin-top: 50px;
}
header .overlay .container .header-content .header-buttons .button-style-outline {
  border: 2px solid white !important;
  color: white !important;
}
header .overlay .container .header-content .header-buttons .button-style-outline:hover {
  border: 2px solid #18987F !important;
}

.properties .properties-title {
  margin-block: 100px;
}
.properties .properties-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.properties .properties-content .property-item {
  width: calc(33.3333333333% - 2rem);
  box-shadow: 3px 5px 5px #E5E5E5;
}
.properties .properties-content .property-item .property-img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.properties .properties-content .property-item .property-img img {
  width: 100%;
  transition: 0.6s ease all;
}
.properties .properties-content .property-item .property-img:before {
  content: "FOR SALE";
  position: absolute;
  top: 12%;
  left: -15%;
  width: auto;
  height: auto;
  padding: 2px 70px;
  background-color: #18987F;
  color: white;
  text-align: center;
  font-size: 12px;
  transform: rotate(-45deg);
  z-index: 3;
  transition: 0.4s all ease;
}
.properties .properties-content .property-item .property-img .property-img-details {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: -100%;
  background-color: rgba(24, 152, 126, 0.7215686275);
}
.properties .properties-content .property-item .property-img:hover img {
  transform: scale(1.1, 1.1) rotate(-4deg);
}
.properties .properties-content .property-item .property-img:hover:before {
  padding: 10px 70px;
  font-size: 15px;
}
.properties .properties-content .property-item .property-img:hover .property-img-details {
  left: 0%;
}
.properties .properties-content .property-item .property-info .property-desc {
  padding: 15px;
}
.properties .properties-content .property-item .property-info .property-desc h4 {
  font-size: 20px;
}
.properties .properties-content .property-item .property-info .property-desc p {
  font-size: 16px !important;
}
.properties .properties-content .property-item .property-info .property-desc p i {
  margin-right: 5px;
}
.properties .properties-content .property-item .property-footer {
  border-top: 2px solid #E5E5E5;
}
.properties .properties-content .property-item .property-footer p {
  font-size: 20px;
}
.properties .properties-content .property-item .property-footer i {
  padding: 15px;
  border-left: 2px solid #E5E5E5;
  font-size: 20px;
}
.properties .properties-choice .p-c-title {
  margin-block: 100px;
}
.properties .properties-choice .p-c-title h3 {
  font-size: 24px;
}
.properties .properties-choice .p-c-content {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.properties .properties-choice .p-c-content .p-c-img {
  width: 50%;
  max-height: 580px;
}
.properties .properties-choice .p-c-content .p-c-img img {
  width: 100%;
  height: 580px;
}
.properties .properties-choice .p-c-content .p-c-items {
  width: 50%;
  max-height: 580px;
}
.properties .properties-choice .p-c-content .p-c-items .item {
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 1px 0px 6px #E5E5E5, -1px 0px 1px #E5E5E5;
}
.properties .properties-choice .p-c-content .p-c-items .item:last-child {
  margin-bottom: 0px !important;
}
.properties .properties-choice .p-c-content .p-c-items .item h4 {
  font-size: 22px;
  font-weight: 400;
}
.properties .properties-choice .p-c-content .p-c-items .item p {
  line-height: 1.4;
}/*# sourceMappingURL=style.css.map */